/* ===== TOP LOGO HEADER ===== */
.top-logo {
    width: 100%;
    background: #0b2e63;
    padding: 18px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    flex-wrap: wrap;
    gap: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-logo-img {
    width: 55px;
}
.notification {
    position: relative;
}

.notif-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background: red;
    color: white;
    font-size: 11px;
    padding: 2px 6px;
    border-radius: 50%;
    font-weight: bold;
}
.logo-text {
    font-size: 26px;
    font-weight: 600;
    color: white;
}

/* ===== RIGHT HEADER ===== */
.right-header {
    display: flex;
    align-items: center;
    gap: 25px;
}

/* Notification */
.notif-icon {
    font-size: 28px;
    cursor: pointer;
}

/* Dropdown */
.profile-dropdown {
    position: relative;
    cursor: pointer;
}

.profile-dropdown .profile {
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile-dropdown .profile img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.profile-dropdown .arrow {
    transition: .3s;
}
.dropdown-menu.show {
    display: block;
}
.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 110%;
    background: #ffffff;
    color: black;
    border-radius: 12px;
    min-width: 150px;
    overflow: hidden;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.15);
    z-index: 50;
}

.dropdown-menu a {
    display: block;
    padding: 12px 18px;
    color: #333;
    text-decoration: none;
    font-size: 15px;
}

.dropdown-menu a:hover {
    background: #f2f2f2;
}

.profile-dropdown.active .dropdown-menu {
    display: block;
}

.profile-dropdown.active .arrow {
    transform: rotate(180deg);
}
